<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{productsPage.title}"></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/webShop.css}">
</head>
<body>

<div th:include="fragments/header"></div>

<div class="left-sidebar">
    <form class="filter-form" id="filter-form" name="filter-form"
          th:action="@{/products}" method="get" th:object="${productBean}">
        <div class="page-size-block">
            <p th:text="#{productsPage.productsPerPage}"></p>
            <select name="pageSize" id="pageSize" th:field="*{size}">
                <option th:each="pageSize : ${pageProperties.pageSizes}"
                        th:value="${pageSize}" th:text="${pageSize}"
                        th:selected="${productBean.size == pageSize}"></option>
            </select>
        </div>
        <div class="page-size-block">
            <p th:text="#{productsPage.sort}"></p>
            <select name="sortField" id="sortField" th:field="*{sortField}">
                <option th:each="sortField : ${sortFields}"
                        th:value="${sortField}" th:text="${sortField}"
                        th:selected="(${sortField} == ${productBean.sortField})"
                ></option>
            </select>
            <select name="sortOrder" id="sortOrder" th:field="*{sortOrder}">
                <option th:each="sortOrder : ${sortOrders}"
                        th:value="${sortOrder}" th:text="#{${'direction.'+sortOrder.toString().toLowerCase()}}"
                        th:selected="(${sortOrder} == ${productBean.sortOrder})"
                ></option>
            </select>
        </div>
        <div class="filter-block">
            <p th:text="#{productsPage.price}"></p>
            <input type="number" name="minPrice" id="minPrice" step="1" min="0" max="999999999"
                   placeholder="min" th:field="*{minPrice}"
                   th:value="${productBean.minPrice!=null ? productBean.minPrice : null}">
            <input type="number" name="maxPrice" id="maxPrice" step="1" min="0" max="999999999"
                   placeholder="max" th:field="*{maxPrice}"
                   th:value="${productBean.maxPrice!=null ? productBean.maxPrice : null}">
        </div>
        <div class="filter-block">
            <p th:text="#{productsPage.name}"></p>
            <input type="text" name="name" id="name" maxlength="45"
                   th:field="*{name}"
                   th:value="${productBean.name!=null ? productBean.name : null}">
        </div>
        <div class="filter-block">
            <p th:text="#{productsPage.category}"></p>
            <select name="category" id="category" th:value="*{category}">
                <option></option>
                <option th:each="choice : ${categories}"
                        th:value="${choice.id}" th:text="${choice.name}"
                        th:selected="(${productBean.category != null} AND ${choice.id} == ${productBean.category.id})"
                ></option>
            </select>
        </div>
        <div class="filter-block">
            <p th:text="#{productsPage.producer}"></p>
            <div th:each="producer : ${producers}">
                <input type="checkbox" th:field="*{producers}" th:value="${producer.id}"
                       th:checked="#{productBean.producers.contains(producer)}">
                <span th:text="${producer.name}">PRODUCER</span>
            </div>
        </div>

        <div>
            <button id="doFilter" th:text="#{productsPage.apply}"></button>
        </div>
    </form>
</div>
<div class="main">
    <div>
        <a th:href="@{/cart}"><img id="cart-img" th:src="@{/images/icons/cart.png}" width="64" height="64"></a>
        <label id="cart-size" for="cart-img" th:text="${productsInCart}"></label>
    </div>

    <th:block if="${products.content.size() > 0}">
        <div class="pages">
            <th:block th:if="${products.totalPages > 0}"
                      th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/products(page=${pageNumber}, size=${products.size})}+${filters}"
                   th:text="${pageNumber}"></a>
            </th:block>
        </div>
        <ul class="products">
            <th:block th:each="product : ${products.content}">
                <li>
                    <p><img th:src="@{${'/images/'+product.image}}" width="200" height="200"></p>
                    <hr>
                    <p th:text="${product.name}"></p>
                    <p th:text="${product.description}"></p>
                    <p th:text="'Price: '+ ${product.price} + ' UAN'"></p>
                    <hr>
                    <button th:onclick="'addToCart('+${product.id}+');'"
                            th:text="#{productsPage.message.addToCart}">
                    </button>
                </li>
            </th:block>
        </ul>
    </th:block>
    <div th:unless="${products.content.size() > 0}">
        <p th:text="#{productsPage.message.productsNotFound}"></p>
    </div>
</div>


<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/productsPage.js}"></script>
</body>
</html>
